#contlogin{ 
left: 586 px;
top: 110 px;
width: 190 px;
height: 150 px;
background-color: rgb(47,79,79);
color: rgb(0,0,0);
}

#contFondo{ 
left: 25 px;
top: 330 px;
width: 800 px;
height: 100 px;
background-color: rgb(64,64,64);
color: rgb(0,0,0);
}

